@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,700i,900,900i");
body,
html {
  background: #fff;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "Roboto", sans-serif;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li {
  padding: 0;
  margin: 0;
}

.header .imgbox img, .header .imgbox, .showcase .case_1 img,
.showcase .case_2 img {
  display: inline-block;
  position: absolute;
}

.header .imgbox img {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header .imgbox, .showcase .case_1 img,
.showcase .case_2 img {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.wrap {
  width: 1024px;
  margin: 0 auto;
  padding: 60px;
}

.backto a {
  text-decoration: none;
  color: #fff;
  padding: 0px 5px;
  background: #000;
}

.header {
  font-size: 48px;
  font-weight: 900;
  padding: 40px 0;
  width: 90%;
  height: 400px;
  position: relative;
  margin: 60px auto;
}

.header .imgbox {
  z-index: 1;
  width: 720px;
  height: 400px;
  overflow: hidden;
}

.header .imgbox img {
  width: 100%;
  position: absolute;
}

.header::after {
  content: "";
  position: absolute;
  width: 240px;
  height: 200px;
  background: #50e3c2;
  top: -20px;
  left: 30px;
}

.header::before {
  content: "";
  position: absolute;
  width: 480px;
  height: 200px;
  border: 20px solid #50e3c2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  right: 40px;
  bottom: 0;
}

.header .title {
  display: inline-block;
  position: absolute;
  right: 100px;
  top: -10px;
  line-height: 48px;
}

.header .title::after {
  content: "DENIM";
  position: absolute;
  display: inline-block;
  right: -100px;
  top: 100px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header .index {
  left: 50px;
  bottom: 40px;
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.header .index::after {
  right: 30px;
  bottom: -60px;
  content: "TOP";
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.contain {
  position: relative;
  padding-left: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contain article {
  position: relative;
  padding-left: 150px;
  width: 700px;
}

.contain article h1 {
  font-size: 48px;
}

.contain article h4 {
  font-size: 24px;
}

.contain article p {
  font-weight: 400;
  margin: 20px 0;
  font-size: 16px;
  letter-spacing: 1px;
}

.contain .detail {
  position: absolute;
  display: inline-block;
  font-style: italic;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: -50px;
  top: 0px;
}

.showcase {
  width: 760px;
  margin: 60px auto;
  position: relative;
  height: 600px;
}

.showcase .case_1 {
  width: 360px;
  height: 300px;
}

.showcase .case_2 {
  width: 480px;
  height: 400px;
  right: 0;
  bottom: 0;
}

.showcase .case_1,
.showcase .case_2 {
  position: absolute;
  overflow: hidden;
  z-index: 1;
}

.showcase .case_1 img,
.showcase .case_2 img {
  width: 130%;
}

.showcase::after {
  content: "";
  position: absolute;
  width: 480px;
  height: 200px;
  border: 20px solid #50e3c2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 150px;
  left: -60px;
}

.showcase::before {
  content: "";
  position: absolute;
  width: 240px;
  height: 200px;
  background: #50e3c2;
  top: 100px;
  right: -60px;
}

.showcase .block {
  content: "";
  position: absolute;
  width: 250px;
  height: 100px;
  background: repeating-linear-gradient(-45deg, #50e3c2, #50e3c2 20px, #fff0 10px, #fff0 35px);
  bottom: -40px;
  left: 100px;
  z-index: 1;
}
